# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Temporary files
*.swp

# Project files
cache/
logs/
output/

*.iml
*.iml
*.xml
*.xml
*.xml
*.xml
*.xml
*.xml
*.jpg
*.jpg
*.jpg
*.jpg
*.csv
*.xlsx
*.npy
*.npy
*.txt
*.h5
*.npy
